@CHARSET "US-ASCII";




  .MenuSpan
  {
  position: fixed;
  left: 0%;
  top:0%;
  height:38px;
  width:100%;
/*  background-image:url('../Pictures/HOTG_Web_MenuColor_Plain.png');
  background-repeat: repeat-x;*/
  background:rgb(173, 0, 0);
  font-family: arial;
  font-weight:100;
  font-size:12px;
  /*color:rgb(0, 73, 3);*/
  color:white;
  z-index:10;
  box-shadow: 0px 2px 10px black;
  }
  
  .MenuButton
  {
  float:right;
  height:13px;
  padding-left:20px;
  padding-right:20px;
  padding-top:13px;
  padding-bottom:8px;
 /*  background-image:url('../Pictures/HOTG_Web_MenuColor_Plain.png'); 
  background-repeat: repeat-x; */
   transition: color 0.5s;
-webkit-transition: color 0.5s; /* Safari */
  }
  
  .MenuButton:hover
  {
  
  border-bottom-style:solid;
  border-width:4px;
  /*border-color:rgb(224, 45, 45);
  color:rgb(224, 45, 45);*/
  border-color:black;
  color:black;
  }
  
   .MenuButtonNH
  {
  float:right;
  height:13px;
  padding-left:8px;
  padding-right:8px;
  padding-top:13px;
  padding-bottom:8px;
 /*  background-image:url('../Pictures/HOTG_Web_MenuColor_Plain.png'); 
  background-repeat: repeat-x; */
   transition: color 0.5s;
-webkit-transition: color 0.5s; /* Safari */
  }
  
  .MenuButtonNH img
  {
  float:left;
  height:15px;
  width:15px;
  padding-right:6px;
  
  }
  